*{
  margin: 0;
  padding: 0;
  outline: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
img{
  vertical-align: middle;
  border: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
}
p,span,a,.btn,.form-control,strong,label,button,ul,li,ol{
  font-family: 'Work Sans', sans-serif;
}
/* ====================================================================================================
                                                   Navbar Part Css
======================================================================================================== */
.dropdown-toggle::after{
  display: none;
}
.navbar{
  /* position: absolute;
  top: 0;
  width: 100%;
  z-index: 99; */
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.navbar-light .navbar-nav .nav-link {
  color: #89c540;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: 700;
  transition: all linear .3s;
  position: relative;
}
.navbar-light .navbar-nav .nav-link::after{
  position: absolute;
  content: '';
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  background: url(../images/heart.png);
  opacity: 0;
  transition: all linear .3s;
}
.navbar-light .navbar-nav .nav-link:hover::after{
  opacity: 1;
  top: -10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #89c540;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #ec1e27;
}
.navbar-light .navbar-nav .nav-link i{
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link .help{
  font-size: 16px;
  margin-right: 6px;
  border: 1px solid #89c540;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.navbar-light .navbar-nav .nav-link:hover .help{
  border: 1px solid #ec1e27;
}
.login-modal .modal .modal-content{
  padding: 30px 50px;
}
.close {
  color: #444;
  position: relative;
  top: -24px;
  right: -28px;
  transition: all linear .3s;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: #666666;
  text-decoration: none;
  opacity: .75;
}
.modal-title{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.modal-title span{
  font-size: 35px;
  font-weight: 900;
}
.modal-header{
  border-bottom: none;
  margin-bottom: 10px;
}
.modal-body .welcome h2{
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: #444444;
  margin-bottom: 25px;
}
.login-modal .modal .modal-content .modal-body .form .form-group .form-control{
  border-bottom: 1px solid #4444!important;
  border: 0;
  border-radius: 0;
  padding: 5px 0;
  font-size: 16px;
}
.or h6{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ec1e27;
  font-size: 18px;
  font-weight: 700;
}
.login-modal .modal .modal-content .modal-body .form .form-group .form-control:focus {
  color: #444444;
  background-color: #fff;
  border-bottom: 1px solid #89c540!important;
  box-shadow: none;
}
.cmn-part{
	background: #3b5998;
	margin-bottom: 15px;
	padding: 12px;
	border-radius: 5px;
}
.cmn-part a{
	display: block;
	color: #ffffff;
}
.cmn-part i{
	margin-right: 10px;
	margin-left: 5px;
}
.cmn-part span{
	padding-left: 15px;
	border-left: 1px solid rgba(255,255,255,0.1);
}
.mr5{
	background: #db4a39!important;
}
.mr6{
	background: #00acee!important;
}
.mr7{
	background: #0e76a8!important;
}
.forget{
  text-align: center;
  margin-top: 22px;
}
.forget p a{
  color: #666666;
  font-weight: 400;
  font-size: 16px;

}
.form .log{
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
}
.form .log:hover{
  background: rgb(137,197,64);
  background: linear-gradient(90deg, rgba(137,197,64,1) 0%, rgba(172,211,103,1) 35%, rgba(137,197,64,1) 100%);
}
.form p{
  text-align: center;
  color: #666666;
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 400;
}
.form .reg{
  text-align: center;
}
.form .reg .btn{
  background: rgb(236,30,69);
  background: linear-gradient(90deg, rgba(236,30,69,1) 0%, rgba(236,30,39,1) 35%, rgba(236,30,107,1) 100%);
  border: 1px solid #ec1e27;
  border-radius: 5px;
  font-weight: 500;
}
.form .reg .btn:hover{
  background: rgb(236,30,39);
  background: linear-gradient(90deg, rgba(236,30,39,1) 0%, rgba(236,30,107,1) 35%, rgba(236,30,39,1) 100%);
}

.menu-bg{
  background: #f5f5f5;
  position: fixed;
  animation: bg 1s;
  width: 100%;
  top: 0;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}
@keyframes bg{
  from{top: -50px;}
  to{top: 0px;}
}

/* ===================================================================================================
                                               Banner Part Css
====================================================================================================== */
#banner{
  background: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
}
#banner::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.35);
}
.banner-contents{
  position: relative;
  z-index: 9;
  padding-top: 90px;
}
.banner-text h3{
  color: #89c540;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 15px;
  display: inline-block;
  background: #ffffff;
  padding: 0 10px;
  border-radius: 5px;
}
.banner-text p{
  color: #f5f5f5;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-right: 168px;
}
.banner-content h2{
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.banner-content-search{
  background: rgba(0,0,0,0.4);
  padding: 0px 30px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 5px;
}
.banner-content-search label{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.banner-content-search .form-control:focus{
  box-shadow: none;
  border: 1px solid #89c540;

}
.banner-content-search .form-control{
  border-radius: 5px;
  font-size: 16px;
  color: #666666;
  font-weight: 500;
  margin-bottom: 5px;
}
.banner-content-search .search-btn{
  margin-top: 32px;
}
.banner-content-search .search-btn a{
  color: #fff;
}
.banner-content-search .search-btn .btn{
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
}
.banner-content-search .search-btn .btn:hover{
  background: rgb(137,197,64);
  background: linear-gradient(90deg, rgba(137,197,64,1) 0%, rgba(172,211,103,1) 35%, rgba(137,197,64,1) 100%);
}

/* ===============================================================================================
                                           Work Part Css
================================================================================================== */
#work{
  padding-top: 70px;
  padding-bottom: 70px;
}
.title{
  margin-bottom: 62px;
}
.title h2{
  font-size: 30px;
  color: #444;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
}
.title h2::after{
  position: absolute;
  content: '';
  width: 200px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #89c540;
}
.title p{
  color: #666666;
  margin-top: 25px;
  font-weight: 500;
}
.work-content{
  padding: 25px 35px;
  background: #f5f5f5;
  border-radius: 8px;
  transition: all linear .3s;
  cursor: pointer;
}
.work-content i{
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  background: rgb(172,211,103);
  background: linear-gradient(45deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border-radius: 50%;
  margin-bottom: 20px;
  transition: all linear .3s;
}
.work-content:hover i{
  background: rgb(236,30,69);
  background: linear-gradient(45deg, rgba(236,30,69,1) 0%, rgba(236,30,39,1) 35%, rgba(236,30,107,1) 100%);
}
.work-content h3{
  font-weight: 500;
  color: #444;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.work-content p{
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  line-height: 26px;
  padding: 0 24px;
}
.work-content:hover{
  transform: translateY(-2px);
}

/* ===========================================================================================
                                         Service Part Css
============================================================================================== */
#service{
  padding-top: 70px;
  padding-bottom: 75px;
  background: url(../images/service.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

#service::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
}
.service-contents{
  position: relative;
  z-index: 9;
}
.title-head{
  color: #fff!important;
}
.service-content{
  background: rgba(245,245,245,.4);
  padding: 20px 15px;
  border-radius: 8px;
  transition: all linear .3s;
  cursor: pointer;
  height: 400px;
}
.service-content:hover{
  transform: translateY(-2px);
}
.service-content i{
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  background: rgb(172,211,103);
  background: linear-gradient(45deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 50%;
  margin-bottom: 20px;
}
.service-content h3{
  font-weight: 600;
  color: #ffff;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.service-content p{
  font-weight: 400;
  color: #ddd;
  font-size: 14px;
  line-height: 24px;
}

/* ================================================================================================
                                              Common Part Css
=================================================================================================== */
#common{
  padding-top: 28px;
  padding-bottom: 25px;
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
}
#common h3{
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  margin-top: 5px;
  text-transform: capitalize;
}
.cmn-btn .btn{
  background: rgb(236,30,69);
  background: linear-gradient(90deg, rgba(236,30,69,1) 0%, rgba(236,30,39,1) 35%, rgba(236,30,107,1) 100%);
  border: 1px solid #ec1e27;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.cmn-btn .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}
.cmn-btn .btn:hover{
  background: rgb(236,30,39);
  background: linear-gradient(90deg, rgba(236,30,39,1) 0%, rgba(236,30,107,1) 35%, rgba(236,30,39,1) 100%);
}
/* ===================================================================================================
                                            Featured Male Profile Part Css 
==========================================================================================================*/
#featured{
  padding-top: 70px;
}
.common-card-item .card-body span{
  display: block;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
}
.common-card-item .card-img-top{
  width: 100%;
}
.common-card-item .card{
  border: 1px solid rgba(221,221,221.4);
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: all linear .3s;
}
.common-card-item .card img{
  overflow: hidden;
  transition: all linear .3s;
}
.common-card-item .card:hover img{
  transform: scale(1.05);
}
.common-card-item .card:hover{
  -webkit-box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.5);
  -moz-box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.5);
  box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.5);
  transform: translateY(-2px);
}
.common-card-item .card-body .btn{
  margin-top: 20px;
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}
.common-card-item .card-body .btn:hover{
  background: rgb(137,197,64);
  background: linear-gradient(90deg, rgba(137,197,64,1) 0%, rgba(172,211,103,1) 35%, rgba(137,197,64,1) 100%); 
}
.view-all{
  margin-top: 40px;
}
.view-all .btn{
  margin-top: 20px;
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 50px;
  text-transform: capitalize;
}
.view-all .btn:hover{
  background: rgb(137,197,64);
  background: linear-gradient(90deg, rgba(137,197,64,1) 0%, rgba(172,211,103,1) 35%, rgba(137,197,64,1) 100%); 
}

/*=========================================================================================================
                                       Featured Female Profile Part Css
========================================================================================================= */
#featured2{
  padding-top: 70px;
  padding-bottom: 70px;
}
/* ===================================================================================================
                                               View All Male Part Css
====================================================================================================== */
#view-all-male{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* ===================================================================================================
                                             Stories Part Css
======================================================================================================= */
#stories{
  background: url(../images/stories.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}
#stories::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.6);
}
.title2{
  margin-bottom: 42px;
}
.str-content{
  position: relative;
  z-index: 9;
}
.str-contents{
  background: #ffffff;
  padding: 20px 30px;
  margin-top: 100px;
  border-radius: 8px;
  transition: all linear .3s;
}
.str-contents img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
}
.str-contents .img-border{
  border: 5px solid #89c540;
}
.str-contents p{
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 35px;
}
.str-contents h3{
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  color: #89c540;
}
.str-contents:hover{
  -webkit-box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.4);
  -moz-box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.4);
  box-shadow: 1px 3px 0px 0px rgba(221,221,221,0.4);
  cursor: pointer;
}



/* ==============================================================================================
                                            Contact Part Css
=================================================================================================== */
#contact{
  background: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 70px;
}
.cont-content{
  border: 1px solid rgba(68,68,68,.2);
  border-radius: 8px;
  padding: 18px 12px;
  cursor: pointer;
  transition: all linear .3s;
  height: 300px;
  background: #fff;
}
.cont-content:hover{
  transform: translateY(-2px);
}
.cont-content h5{
  border-bottom: 1px solid rgba(68,68,68,.2);
  padding-bottom: 18px;
  font-size: 20px;
  color: #89c540;
  font-weight: 600;
}
.cont-span{
  padding-top: 15px;
}
.cont-span span{
  display: block;
  margin-bottom: 5px;
}
.cont-span span a{
  color: #666666;
  font-size: 16px;
  transition: all linear .3s;
  font-weight: 500;
}
.cont-span span a:hover{
  color: #89c540;
}
.cont-spans a i{
  color: #666666;
  margin-top: 20px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 50%;
  transition: all linear .3s;
}
.cont-spans a i:hover{
  background: rgb(172,211,103);
  background: linear-gradient(45deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  color: #fff;
}
.mr-1{
  margin-right: 0;
}

/* ================================================================================================
                                            Footer Part Css
==================================================================================================== */
#footer{
  background: #ec1e27;
  padding-top: 23px;
  padding-bottom: 16px;
  text-align: center;
}
#footer h5{
  color: #f5f5f5;
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
}
#footer h4{
  color: #dddddd;
  font-size: 14px;
}
#footer h4 a{
  color: #fff;
  transition: all linear .3s;
}

#footer h4 a:hover{
  color: #89c540;
}

/* ===============================================================================================
                                           Back to Top Part Css
=================================================================================================== */
.back-to-top{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 9999;
  display: none;
}
.back-to-top i{
  color: #f5f5f5;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgb(172,211,103);
  background: linear-gradient(45deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 3px;
}
/* ======================================================================================================
                                                Preloader Part Css
========================================================================================================= */
.preloader{
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  z-index: 99999999;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.icon {
  width: 100px;
}
.icon path {
  fill: transparent;
  stroke-width: 10;
  stroke: #ec1e27;
}

.icon.heart path {
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}

.icon.heart path {
  animation: animate-heart 2s linear infinite;
}

@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 1560;
  }

  80% {
    stroke-dashoffset: 3120;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 3120;
    fill: #ec1e27;
  }
}
/* ====================================================================================================
                                        View Profile Navbar Part Css
======================================================================================================= */
.pro-img{
  position: relative;
  cursor: pointer;
}
.pro-img .overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(234,110,14);
  background: linear-gradient(90deg, rgba(234,110,14,1) 0%, rgba(238,144,70,1) 35%, rgba(234,110,14,1) 100%);
  padding: 2px;
  transform: scale(0);
  transition: all linear .3s;
}
.pro-img .overlay h5{
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}
.pro-img .overlay h5 a{
  color: #fff;
}
.pro-img:hover .overlay{
  transform: scale(1);
}
#v-profile{
  background: #f5f5f5;
  padding-top: 70px;
  padding-bottom: 70px;
}
#v-profile .v-pro-body{
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(238,143,70,0.6);
  -moz-box-shadow: 0px 1px 5px 0px rgba(238,143,70,0.6);
  box-shadow: 0px 1px 5px 0px rgba(238,143,70,0.6);
}
#v-profile .pro-content h6{
  color: #666666;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
}
#v-profile .pro-content h6 strong{
  color: #444444;
  font-size: 16px;
  font-weight: 500;

}
#v-profile .pro-content h6 span{
  margin-right: 9px;
}
#v-profile .pro-content h6 span strong{
  color: #444444;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
.v-pro-cmn{
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(221,221,221,0.6);
}
.v-pro-cmn h6{
  padding-bottom: 7px;
  color: #ee9046;
  font-weight: 500;
  font-size: 18px;
}
.v-pro-cmn .border-btm{
  border-top: 1px solid rgba(221,221,221,0.6);
  padding-top: 12px;
}
.v-pro-cmn p{
  color: #666666;
  font-size: 16px;
  line-height: 26px;
}
.edit-btn a{
  color: #ea6e0e;
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}
.basics{
  margin-top: 15px;
}
.basics h5{
  color: #666666;
  font-weight: 400;
  font-size: 14px;
}
.basics h5 strong{
  color: #444444;
  font-size: 16px;
  font-weight: 500;
}
.ml-btm {
  border-left: 1px solid rgba(221,221,221,0.6);
  padding-left: 20px;
}

/* ========================================================================================================
                                               Registration Part Css
========================================================================================================= */
.regis-form{
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
}
.regis-form h3{
  text-align: center;
  color: #444444;
  font-size: 18px;
  font-weight: 600;
  padding: 0 65px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.regis-form .form-group label{
  color: #89c540;
  font-size: 16px;
  font-weight: 500;
}
.regis-form .form-control{
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  height: calc(2.90rem + 2px);
  border-radius: 5px;
}
.regis-form .form-control:focus {
  color: #666666;
  background-color: #fff;
  border-color: #89c540;
  box-shadow: none;
}
.regis-btn{
  margin-top: 25px;
  margin-bottom: 15px;
}
.regis-btn .btn{
  width: 100%;
  background: rgb(172,211,103);
  background: linear-gradient(90deg, rgba(172,211,103,1) 0%, rgba(137,197,64,1) 35%, rgba(172,211,103,1) 100%);
  border: 1px solid #89c540;
  border-radius: 5px;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.regis-form .btn:hover{
  background: rgb(137,197,64);
  background: linear-gradient(90deg, rgba(137,197,64,1) 0%, rgba(172,211,103,1) 35%, rgba(137,197,64,1) 100%);
}
.already h6{
  color: #444444;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}
.already a{
  background: rgb(236,30,69);
  background: linear-gradient(90deg, rgba(236,30,69,1) 0%, rgba(236,30,39,1) 35%, rgba(236,30,107,1) 100%);
  border: 1px solid #ec1e27;
  border-radius: 5px;
  font-weight: 500;
  color: #f5f5f5;
  padding: 12px 0;
  display: block;
  letter-spacing: 1px;
}
.already a:hover{
  background: rgb(236,30,39);
  background: linear-gradient(90deg, rgba(236,30,39,1) 0%, rgba(236,30,107,1) 35%, rgba(236,30,39,1) 100%);
}
/* =====================================================================================================
                                          Profile Edit Modal Css
======================================================================================================== */
.pro-edit-modal .modal-content {
  padding: 30px 50px;
}
.pro-edit-modal .modal-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ea6e0e;
}
.pro-edit-modal .form-group label{
  font-family: 'Roboto', sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
}
.pro-edit-modal .form-control{
  font-family: 'Roboto', sans-serif;
  color: #666666;
  font-size: 14px;
  border-radius: 5px;
}
.pro-edit-modal .form-control:focus{
  box-shadow: none;
  border-color: #c58070;
}
.pro-edit-modal-btn .btn{
  width: 100%;
  background: rgb(172,125,109);
  background: linear-gradient(90deg, rgba(172,125,109,1) 0%, rgba(197,128,112,1) 35%, rgba(172,125,109,1) 100%);
  border: 1px solid #ac7d6d;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.pro-edit-modal-btn .btn:hover{
  background: rgb(197,128,112);
  background: linear-gradient(90deg, rgba(197,128,112,1) 0%, rgba(172,125,109,1) 35%, rgba(197,128,112,1) 100%); 
}

/* =========================================================================================================
                                                About Us Part Css
========================================================================================================= */
#about{
  margin-top: 30px;
  margin-bottom: 30px;
}
.about-us{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
}
.about-img img{
  border-radius: 50%;
}
.about-text{
  padding: 15px;
  text-align: center;
}
.about-text h6{
  font-size: 18px;
  font-weight: 700;
  color: #89c540;
}
.about-text span{
  font-size: 16px;
  color: #666666;
  font-weight: 400;
}
.about-icon{
  text-align: center;
}
.about-icon i{
  font-size: 16px;
  color: #444444;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-right: 5px;
  transition: all linear .3s;
}
.about-icon i:hover{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  color: #ec1e27;
}
.about-details{
  padding: 0 30px;
}
.about-details p{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.about-details h6{
  font-size: 18px;
  color: #020282;
  font-weight: 600;
  margin-bottom: 15px;
}

/* =======================================================================================================
                                              Terms Of Use Part Css
========================================================================================================= */
#terms{
  margin-top: 30px;
  margin-bottom: 30px;
}
.terms-details{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
}
.terms-details h5{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ec1e27;
  margin-bottom: 30px;
}
.terms-details h6{
  color: #020282;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.terms-details span{
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.terms-details ul li{
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* =======================================================================================================
                                        Privacy Policy Part Css
========================================================================================================= */
#privacy{
  margin-top: 30px;
  margin-bottom: 30px;
}
.privacy-details{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 8px;
}
.privacy-details h5{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ec1e27;
  margin-bottom: 30px;
}
.privacy-details span{
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.privacy-details h6{
  color: #020282;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.privacy-details ul li{
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* ========================================================================================================
                                               Contact Us Part Css
========================================================================================================= */
#cont{
  margin-top: 30px;
  margin-bottom: 30px;
}
.c-form{
  box-shadow: rgba(238, 143, 70, 0.6) 0px 1px 5px 0px;
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 8px;
}
.c-form h5{
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #444444;
  margin-bottom: 15px;
}
.c-form p{
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}
.c-form .form-group label{
  color: #ea6e0e;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.c-form .form-group .form-control{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  border-radius: 5px;
  border: 1px solid #dddddd;
}
.c-form .form-group .form-control:focus{
  box-shadow: none;
  border-color: #ac7d6d;
}
.sub-form{
  text-align: center;
  margin-top: 30px;
}
.sub-form .btn{
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  background: rgb(172,125,109);
  background: linear-gradient(90deg, rgba(172,125,109,1) 0%, rgba(197,128,112,1) 35%, rgba(172,125,109,1) 100%);
  border: 1px solid #ac7d6d;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.sub-form .btn:hover{
  background: rgb(197,128,112);
  background: linear-gradient(90deg, rgba(197,128,112,1) 0%, rgba(172,125,109,1) 35%, rgba(197,128,112,1) 100%); 
}

/* ====================================================================================================
                                             Help Part Css
====================================================================================================== */
#help{
  margin-top: 30px;
  margin-bottom: 30px;
}
.help-details{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 8px;
}
.help-details h5{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ec1e27;
  margin-bottom: 30px;
}
.help-details h6{
  color: #020282;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.help-details span{
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}
.help-details ul li{
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

/* ========================================================================================================
                                         Partner Search Part Css 
=========================================================================================================*/
#partner-search{
  margin-top: 30px;
  margin-bottom: 30px;
}
.partner-details{
  -webkit-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  box-shadow: 0px 1px 5px 0px rgba(236,30,39,0.5);
  background: rgb(255, 255, 255);
  padding: 35px;
  border-radius: 8px;
}
.partner-details h5{
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ec1e27;
  margin-bottom: 30px;
}
.partner-details h6{
  color: #020282;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
}
.partner-details span{
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 10px;
}

/* ================================================================================================
                                            Search Part Css
=================================================================================================== */
#search-page{
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-content{
  min-height: 100vh;
}

.pay-img{
  position: relative;
  bottom: 50px;
}

/* ====================================================================================================
                                           Membership Part Css
===================================================================================================== */
#membership{
  margin-top: 40px;
  margin-bottom: 40px;
}
.plan-content{
  padding: 25px 35px;
  border: 1px solid rgba(234,110,14,.5);
  border-radius: 8px;
  margin-top: 10px;
  transition: all linear .3s;
  cursor: pointer;
  position: relative;
}
.plan-content:hover{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(238,144,70,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(238,144,70,0.5);
  box-shadow: 0px 0px 5px 0px rgba(238,144,70,0.5);
  transform: translateY(-2px);
}
.plan-content .plan-img{
  text-align: center;
}
.plan-content .plan-img img{
  width: 90px;
  height: 90px;
}
.plan-content h3{
  font-size: 35px;
  font-weight: 500;
  color: #444444;
  margin-top: 10px;
}
.plan-content h4{
  font-size: 28px;
  font-weight: 500;
  color: #444;
  margin-bottom: 10px;
}
.plan-content .body span{
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  color: #666666;
  font-weight: 400;
}
.plan-content .body span i{
  color: #ea6e0e;
  font-size: 13px;
  margin-right: 5px;
}
.plan-content p{
  color: #444;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
.plan-content h5{
  background: rgb(172,125,109);
  background: linear-gradient(90deg, rgba(172,125,109,1) 0%, rgba(197,128,112,1) 35%, rgba(172,125,109,1) 100%);
  border: 1px solid #ac7d6d;
  display: inline;
  border-radius: 5px;
  padding: 6px 15px;
  color: #fff;
  font-size: 16px;
  position: absolute;
  top: -17px;
  left: 96px;
}
